<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение пользователя</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/update}" th:object="${user}">
    <input type="hidden" th:field="*{id}"/>

    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{username}" id="name"></input>
    <br>
    <label for="age">Введите возраст: </label>
    <input type="text" th:field="*{age}" id="age"></input>
    <br>
    <label for="age">Изменить пароль: </label>
    <input type="text" th:field="*{password}" id="password"></input>
    <br>
    <label for="age">Изменить роль: </label>
    <input type="text" th:field="*{roles}" id="roles"></input>
    <br>
    <input type="submit" value="Изменить"></input>
    <a th:href="@{/admin/users}">Назад</a>
</form>
<br>
<form th:if="${isAuthenticated != null ? !isAuthenticated : true}" action="/login" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit">Login</button>
</form>
<form th:if="${isAuthenticated != null ? isAuthenticated : false}" action="/logout" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit">Logout</button>
</form>
</form>
</body>
</html>